<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body th:replace="~{/pages/layouts/layout-edit ::layoutEdit(
        editForm=~{::#add-cat},
        titleLayout='categorie-tache',
        contentTitle='Édition')}">
<div id="add-cat">
    <form class="needs-validation" method="post" th:action="@{/save/category-tasks}" th:object="${category}">
        <div class="row card-style">
            <h6 class="mb-25">
                Catégorie de tâches
            </h6>
            <div class="input-style-1 col-12 col-md-6 col-lg-6">
                <label class="form-label" for="libelle">Libellé</label>
                <input id="libelle" placeholder="Le libellé" required th:field="*{label}" type="text"/>
                <small th:errors="*{label}" th:if="${#fields.hasErrors('label')}"
                      class="text-danger">
                    Libelle non valide
                </small>
            </div>
            <div class="input-style-2 col-12 col-md-6 col-lg-6">
                <label class="form-label" for="description">Description</label>
                <input id="description" placeholder="La description" required th:field="*{description}" type="text"/>
                <small th:errors="*{description}" th:if="${#fields.hasErrors('description')}"
                      class="text-danger">
                    Description non valide
                </small>

            </div>


            


        </div>
        <div class="row card-body">
            <ul class="buttons-group">
                <li>
                    <button class="btn success-btn-outline" type="submit">
                        <i class="lni lni-save"></i>
                        Enregister
                    </button>
                </li>
                <li>
                    <a th:ref="@{/task-app/pages/category-tasks/list}" class="btn danger-btn-outline">
                        <i class="lni lni-close"></i>
                        Annuler
                    </a>
                </li>
            </ul>
        </div>
    </form>
</div>
</body>
</html>