<!DOCTYPE html>
<html lang="en"
      th:replace="~{/pages/layouts/layout-list::layoutList(
      listForm=~{this::#add-cat},
      titleLayout='category tasks',
      contentTitle='Catégorie Tâches'
      )}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="add-cat">
    <div class="row">
        <div class="col-lg-12 mb-1">
            <a class="btn success-btn-outline" th:href="@{/task-app/pages/category-tasks/edit}">
                <i class="lni lni-circle-plus"></i>
                Ajouter
            </a>
        </div>
        <div class="col-lg-12">
            <div class="card-style mb-30">
                <h6 class="mb-10">Catégories</h6>
                <div class="table-wrapper table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>
                                <h6>#</h6>
                            </th>
                            <th>
                                <h6>Libellé</h6>
                            </th>
                            <th>
                                <h6>Description</h6>
                            </th>
                            <th>
                                <h6>Action</h6>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="c : ${categories}">
                            <td>
                                <div class="employee-image">
                                    <img alt="" src="assets/images/lead/lead-1.png"/>
                                </div>
                            </td>
                            <td class="min-width">
                                <p th:text="${c.label}"></p>
                            </td>
                            <td class="min-width">
                                <p th:text="${c.description}"></p>
                            </td>
                            <td>
                                <div class="action">
                                    <button class="text-success">
                                        <i class="lni lni-pencil"></i>
                                    </button>
                                    <button class="text-info">
                                        <i class="lni lni-arrow-right"></i>
                                    </button>
                                    <button class="text-danger">
                                        <i class="lni lni-trash-can"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>